<div class="blog-cover">
  <div class="title">
    <h2>Blog</h2>
  </div>

</div>

<div class="container-blog">

  <div class="title-content">
    <p>Dicas</p>
    <h2>Carteira de Trabalho Digital o que é?
    </h2>
  </div>

</div>

<div class="container-content">
  <div class="post">
    <div class="img">
      <img src="./assets/carteira-trabalho-digital-768x560.jpg" alt="">
    </div>

    <p>Antes de participar de um processo seletivo, defina bem suas expectativas em relação àquela vaga, seja claro e objetivo em suas respostas, se prepare para a entrevista estudando o perfil da empresa, quais são seus valores missão e visão, entendendo sua cultura organizacional e correspondendo assim de forma mais assertiva a necessidade daquela empresa.
    </p>

    <p>O que é a Carteira de Trabalho Digital: A CTPS Digital passou a ser equivalente ao documento físico. Ao ser
      contrato por uma empresa, o trabalhador não precisa mais apresentar sua carteira física. Para isso, é só o
      usuário criar uma conta no portal do Governo que pode ser feito pelo site ou pelo aplicativo.</p>

    <p>Agora com o documento digital, os contratos de trabalhos, e anotações como salário e férias, vão ser feitos
      tudo de maneira eletrônica. O trabalhador pode acompanhar esses dados e outras informações profissionais através
      do site e do aplicativo.

    </p>
    <p>A carteira de trabalho digital é equivalente ao documento físico, porém a versão antiga também pode ser usada
      para a comprovação do tempo de serviço, de acordo com o Ministério da Economia.

    </p>
    <p>Além disso, por meio dele será possível também solicitar a primeira e a segunda via da carteira de trabalho
      física. Ressaltando que é muito importante guardar a sua carteira de trabalho física pois ela ainda é um
      documento oficial assim como a digital.

    </p>

    <div class="list">
      <h2>VEJA ALGUNS DOS BENEFICIOS DA CTPS DIGITAL:</h2>

      <ul>
        <li>Tem maior aproveitamento das vagas disponíveis, reduzindo o tempo médio de atendimento;
        </li>
        <li>Maior agilidade no acesso às informações trabalhistas consolidadas em um só ambiente, possibilitando ao trabalhador fiscalizar seus vínculos trabalhistas;
        </li>
        <li>Integração das bases de dados do Ministério da Economia.
        </li>
      </ul>
    </div>

  </div>
  <div class="relation">
    <div class="title">
      <h2>Zoe RH - Soluções em Recursos Humanos</h2>
      <p>Nosso comprometimento com o cliente é realizar seus serviços com qualidade e excelência por meio de um trabalho
        ágil e eficiente.</p>
    </div>
    <div class="social">
      <div class="facebook icon">
        <a href="https://www.facebook.com/zoerh.recrutamento.3/" target="_blank"><img src="./assets/facebook.png"
            alt=""></a>
      </div>
      <div class="instagram icon">
        <a href="https://www.instagram.com/zoerh_/" target="_blank"><img src="./assets/instagram.png" alt=""></a>

      </div>
      <div class="linkedin icon">
        <a href="https://www.linkedin.com/in/zoe-solu%C3%A7%C3%B5es-em-rh-856141188/" target="_blank"><img
            src="./assets/linked.png" alt=""></a>
      </div>
      <div class="youtube icon">
        <a href="https://www.youtube.com/@GrupoZoe-tu2ew" target="_blank"><img src="./assets/youtube.png" alt=""></a>

      </div>
    </div>

    <div class="last-post">
      <div class="title-last-post">
        <h2>Últimos Posts</h2>
      </div>
      <div class="posts-relations">
        <div class="post-item">
          <div class="post-img">
            <img src="./assets/carteira-trabalho-digital-768x560.jpg" alt="">
          </div>
          <div class="text">
            <h1>Carteira de Trabalho Digital o que é?</h1>
            <a routerLink="/carteira-de-trabalho">Ler mais...</a>
          </div>
        </div>
        <div class="post-item">
          <div class="post-img">
            <img src="./assets/blog1.jpg" alt="">
          </div>
          <div class="text">
            <h1>Dicas de entrevista online</h1>
            <a routerLink="/dicas">Ler mais...</a>
          </div>
        </div>
        <div class="post-item">
          <div class="post-img">
            <img src="./assets/trabalho-casa-768x503.jpg" alt="">
          </div>
          <div class="text">
            <h1>Novo normal X Autogerenciamento</h1>
            <a routerLink="/autogerenciamento">Ler mais...</a>
          </div>
        </div>
        <div class="post-item">
          <div class="post-img">
            <img src="./assets/faqimage1.jpg" alt="">
          </div>
          <div class="text">
            <h1>Dicas de entrevista</h1>
            <a routerLink="/entrevistas">Ler mais...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


