<section class="container">
  <div class="title">
    <h1>POLÍTICA DE PRIVACIDADE</h1>
  </div>

  <div class="content">
    <div class="sub-title">
      <p>TERMO DE CONSENTIMENTO PARA TRATAMENTO DE DADOS PESSOAIS LEI GERAL DE PROTEÇÃO DE DADOS PESSOAIS - LGPD</p>
    </div>
    <div class="text">
      <p>Em conformidade com a nova lei de proteção de dados, a empresa ZOE SOLUÇÕES EM RH EIRELI, aqui denominada como
        CONTROLADORA, inscrita no CNPJ sob n º 19.759.625/0001-60 , em razão do segmento de empregabilidade, disponha da
        necessidade do uso de dados pessoais e dados pessoais sensíveis, de acordo com os artigos 7º e 11 da Lei nº
        13.709/2018, conforme disposto neste termo, possui os seguintes direitos:</p>
    </div>
    <div class="sub-title">
      <p>DADOS PESSOAIS</p>
    </div>

    <div class="text-sub">
      <p>O Titular autoriza a Controladora a realizar o tratamento, ou seja, a utilizar os seguintes dados pessoais,
        para os fins que serão relacionados
        na cláusula segunda:</p>
      <p>Nome Completo
      </p>
      <p>Data de Nascimento
      </p>
      <p>Número e imagem da Carteira de Identidade (RG)
      </p>
      <p>Número e imagem do Cadastro de Pessoas Físicas (CPF)
      </p>
      <p>Número e imagem do Título de Eleitor
      </p>
      <p>Número e imagem do Certificado de Reservista
      </p>
      <p>Número e imagem da Carteira Nacional de Habilitação (CNH)(quando necessário para a função contratada)
      </p>
      <p>Número e imagem do cartão de vale transporte ( quando utilizado pelo empregado)
      </p>
      <p>Número e iamgem do Programa de Integração Social (PIS)
      </p>
      <p>CTPS física e /ou digital
      </p>
      <p>Fotografia 3 x 4
      </p>
      <p>Imagem da Certidão de Casamento ou Declaração de União Estável
      </p>
      <p>Imagem do Diploma e Certicados
      </p>
      <p>Endereço completo
      </p>
      <p>Números de telefone, WhatsApp e endereços de e-mail
      </p>
      <p>Banco, agência e númeroo de contas bancárias
      </p>
      <p>Nome de usuário e senha específicos para uso dos serviços da Controladora
      </p>
      <p>Comunicação, verbal e escrita,mantida entre o Titular e o Controlador
      </p>
      <p>Exames e atestados médicos, especialmente admissionais, periódicos,incluidos de retorno por afastamento
        superior a 30 dias em caso de doença, adidente ou parto, de mudança de função,demissionais e ainda aqueles que
        atestem doença ou acidente.
      </p>
      <p>Certidão de nascimento dos filhos menores de 14 anos, Carteira de vacinação dos menores de 7 anos, e atestado
        de matrícula e frequência escolar semestral dos maiores de 4 anos.
      </p>
    </div>

    <div class="sub-title">
      <p>FINALIDADE DO TRATAMENTO DOS DADOS
      </p>
    </div>
    <div class="text-sub">
      <p>O Titular autoriza que a Controladora utilize os dados pessoais e dados pessoais sensíveis listados neste termo
        para as seguintes fnalidades:
      </p>
      <p>Permitir que a Controladora identifique e entre em contato com o titular, em razão do contrato de trabalho.
      </p>
      <p>Para cumprimento de obrigações decorrentes da legislação, principalmente trabalhista e previdenciaria,
        incluindo o dispositivo em Acordo ou Convenção Coletiva da categoria da Controladora.
      </p>
      <p>Para procedimentos de admissão e execução do contrato de trabalho, inclusive após seu término.
      </p>
      <p>Para cumprimento, pela Controladora, de obrigações impostas por orgãos de fiscalização.
      </p>
      <p>Quando necessário para executar um contrato, no qual seja parte o titular.
      </p>
      <p>A pedido do titular dos dados.
      </p>
      <p>Para o exercício regular de direitos em processo judicial, administrativo ou arbitral.
      </p>
      <p>Para a proteção da vida ou da incolumidade física do titular ou de terceiros.
      </p>
      <p>Para a tutela da saúde, exclusivamente, em procedimento realizado por profissionais de saúde, serviços de saúde
        ou autoridade sanitária.
      </p>
      <p>Quando necessário para atender aos interesses legítimos do controlador ou de terceiros,exceto no caso de
        prevalecerem direitos e liberdades fundamentais do titular que exijam a proteção dos dados pessoais.
      </p>
      <p>Para a contratação de serviços adicionais da remuneração.
      </p>
      <p>Permitir que a Controladora utilize esses dados para a contratação e prestação de serviços diversos dos
        inicialmente ajustados, desde que o Titular também demonstre interesse em contratar novos serviços.
      </p>
      <p>Parágrafo Primeiro: Caso seja necessário o compartilhamento de dados com terceiros que não tenham sido
        relacionados nesse termo ou qualquer alteração contratual posterior, será ajustado novo termo de consentimento
        para este fim ( § 6º do artigo 8ºe §2º do artigo 9º da Lei nº 13.709/2018.
      </p>
      <p>Parágrafo Segundo: Em caso de alteração na finalidade, que esteja em desacordo com o consentimento original, a
        Controladora deverá comunicar o Titular, que poderá revogar o consentimento, conforme previsto na cláusula
        sexta.

      </p>
    </div>


    <div class="sub-title">
      <p>COMPARTILHAMENTO DE DADOS
      </p>
    </div>
    <div class="text">
      <p>A Controladora fica autorizada a compartilhar os dados pessoais do Titular com outros agentes de tratamento de
        dados, caso seja necessário para as finalidades listadas neste instrumento, desde que, sejam respeitados os
        princípios da boa fé, finalidade, adequação, necessidade, livre acesso, qualidade de dados, transparência,
        segurança, prevenção, não discriminação e responsabilização e prestação de contas.

      </p>
    </div>

    <div class="sub-title">
      <p>RESPONSABILIDADE PELA SEGURANÇA DOS DADOS

      </p>
    </div>
    <div class="text">
      <p>A Controladora se responsabiliza por manter medidas de segurança, técnicas e administrativas suficientes a
        proteger os dados pessoais do Titular e à Autoridade Nacional de Proteção de Dados (ANPD), comunicando ao
        Titular, caso ocorra algum incidente de segurança que possa acarretar risco ou dano relevante, conforme artigo
        48 da Lei nº 13.709/2020.



      </p>
    </div>


    <div class="sub-title">
      <p>EM CASO DE CONTRATAÇÕES


      </p>
    </div>
    <div class="text">
      <p>À Controladora, é permitido manter e utilizar os dados pessoais do Titular durante todo o período
        contratualmente firmado para as finalidades relacionadas nesse termo e ainda após o término da contratação para
        cumprimento de obrigação legal ou impostas por órgãos de fiscalização, nos termos do artigo 16 da Lei nº
        13.709/2018.





      </p>
    </div>

    <div class="sub-title">
      <p>DIREITO DE REVOGAÇÃO DO CONSENTIMENTO



      </p>
    </div>

    <div class="text-sub">
      <p>O Titular poderá revogar seu consentimento, a qualquer tempo, por e-mail ou por carta escrita, conforme o
        artigo 8º, §5º, da Lei 13.709/2020.
      </p>
      <p>O Titular fica ciente de que a Controladora poderá permancer utilizando os dados para as seguintes finalidades:
      </p>
      <p>Para cumprimento de obrigações decorrentes da legislação trabalhista e previdenciária, incluindo o disposto em
        Acordo ou Convenção Coletiva da categoria da Controladora.
      </p>
      <p>Para procedimentos de admissão e execução do contrato de trabalho, inclusive após seu término.
      </p>
      <p>Para cumprimento, pela Controladora, de obrigações impostas por orgãos de fiscalização;
      </p>
      <p>Para o exercício regular de direitos em processo judicial, administrativo ou arbitral;
      </p>
      <p>Para a a proteção da vida ou da incolumidade física do titular ou de terceiros;
      </p>
      <p>Para a tutela da saúde, exclusivamente, em procedimento realizado por profissionais de saúde, serviços de saúde
        ou autoridade sanitária;
      </p>
      <p>Quando necessário para atender aos interesses legítimos do controlador ou de terceiros, exceto no caso de
        prevalecerem direitos e liberdades fundamentais do titular que exijam a proteção dos dados pessoais.
      </p>
    </div>



    <div class="sub-title">
      <p>TEMPO DE PERMANÊNCIA DOS DADOS RECOLHIDOS



      </p>
    </div>
    <div class="text">
      <p>O titular fica ciente que a Controladora deverá permanecer com os seus dados pelo período mínimo de guarda de
        documentos trabalhistas, previdenciários, bem como os relacionados à segurança e saúde no trabalho, mesmo após o
        encerramento do vínculo empregatício.







      </p>
    </div>

    <div class="sub-title">
      <p>VAZAMENTO DE DADOS OU ACESSOS NÃO AUTORIZADOS - PENALIDADES




      </p>
    </div>
    <div class="text">
      <p>As partes poderão entrar em acordo, quanto aos eventuais danos causados, caso exista o vazamento de dados pessoais ou acessos não autorizados, e caso não haja acordo, a Controladora tem ciência que estará sujeita às penalidades previstas no artigo 52 da Lei nº 13.709/2018.









      </p>
    </div>
  </div>
</section>
