<div class="container-footer">
  <div class="content-footer">

    <div class="all-items">

      <div class="links">
        <p class="title">LINKS RÁPIDOS</p>

        <div class="links-sub-container">
          <div class="item-1">
            <div class="title"><span class="material-symbols-outlined">
                other_houses
              </span>QUEM SOMOS</div>
            <ul>
              <li> <a routerLink="/nossa-historia"><span class="material-symbols-outlined">
                    navigate_next
                  </span> Conheça Nossa História</a></li>
              <li> <a routerLink="/"> <span class="material-symbols-outlined">
                    navigate_next
                  </span>Missão - Visão - Valores</a></li>
            </ul>
            <div class="title"><span class="material-symbols-outlined">
                groups
              </span>QUEM SOMOS</div>
            <ul>
              <li> <a routerLink="/nossa-historia"> <span class="material-symbols-outlined">
                    navigate_next
                  </span>Nossos Serviços</a></li>
            </ul>
          </div>
          <div class="item-2">
            <div class="title"><span class="material-symbols-outlined">
                account_box
              </span>PORTAL DO CANDIDATO</div>
            <ul>
              <li> <a href="https://zoerh.tweezer.jobs/" target="_blank"> <span class="material-symbols-outlined">
                  navigate_next
                </span> Envie seu Currículo </a></li>
              <li> <a routerLink="/recrutamento-e-selecao"> <span class="material-symbols-outlined">
                  navigate_next
                </span>Recrutamento e Seleção</a></li>
              <li> <a routerLink="/mao-de-obra-temporaria"> <span class="material-symbols-outlined">
                  navigate_next
                </span>Mão de Obra Temporária</a></li>
              <li> <a routerLink="/avaliacao-psicologica"> <span class="material-symbols-outlined">
                  navigate_next
                </span>Avaliação Psicológica</a></li>
            </ul>


          </div>
          <div class="item-3">
            <div class="title" style="color:white;"><span class="material-symbols-outlined">
                badge
              </span>PORTAL DO FUNCIONÁRIO</div>
            <ul>
              <li> <a href="https://www.folhafacil.com.br/rh/zoerh/" target="_blank"> <span class="material-symbols-outlined">
                  navigate_next
                </span> Holerite Online </a></li>
              <li> <a href="./assets/passo-a-passo-holerite.pdf" target="_blank"> <span class="material-symbols-outlined">
                  navigate_next
                </span>Passo a Passo </a></li>

            </ul>
            <div class="title"> <a routerLink="contato"> <span class="material-symbols-outlined">
                forum
              </span>CONTATO </a></div>
            <div class="title"> <a routerLink="/politica-de-privacidade"><span class="material-symbols-outlined">
                lock
              </span>POLÍTICA DE PRIVACIDADE</a></div>
          </div>
        </div>
      </div>
      <div class="social">
        <p class="title">REDES SOCIAIS</p>
        <ul>
          <li> <a href="https://www.facebook.com/zoerh.recrutamento.3/" target="_blank"><img src="./assets/facebook.png"
                alt=""> facebook</a></li>
          <li> <a href="https://www.instagram.com/zoerh_/" target="_blank"> <img src="./assets/instagram.png"
                alt="">instagram</a></li>
          <li> <a href="https://www.linkedin.com/in/zoe-solu%C3%A7%C3%B5es-em-rh-856141188/" target="_blank"> <img
                src="./assets/linked.png" alt="">Linkedin</a></li>
          <li> <a href="https://www.youtube.com/@GrupoZoe-tu2ew" target="_blank"><img src="./assets/youtube.png" alt="">Youtube</a></li>
        </ul>
      </div>
      <div class="contato">
        <p class="title">ENDEREÇOS E CONTATOS</p>

        <div class="item-end">
          <span class="material-symbols-outlined">
            location_on
          </span>
          Rua Regente Feijo 220
          Cidade Nova - Indaiatuba -SP
          CEP 13.334-090
        </div>
        <div class="item-end">
          <span class="material-symbols-outlined">
            call
          </span>
          (019) 3312-2830
        </div>
        <div class="item-end">
          <span class="material-symbols-outlined">
            forum
          </span>
          comercial.idt@zoerh.com.br

        </div>
      </div>
    </div>
  </div>
  <div class="copy-container">
    <div class="copy-content">
      <div>ZOE RH © 2021 – Todos os direitos reservados</div>

    </div>

  </div>

</div>
