<section class="container-all">
  <div class="conteinerimg">

    <div class="title-content">
      <h1>Contato</h1>
      <p>Entre em contato conosco</p>
    </div>
  </div>
  <div class="overlay"></div>

  <div class="items-content">
    <div class="margin">
      <div class="item-container reverse">

        <div class="info">

          <form action="">
            <div class="item-form">
              <label>NOME</label>

              <input type="text" formControlName="idGame" placeholder="Nome" />

            </div>
            <div class="item-form">
              <label>EMAIL</label>

              <input type="text" formControlName="idGame" placeholder="Email" />

            </div>
            <div class="item-form">
              <label>ASSUNTO</label>

              <input type="text" formControlName="idGame" placeholder="Assunto" />

            </div>
            <div class="item-form">
              <label>MENSAGEM</label>

              <textarea name="" formControlName="description" placeholder="Mensagem" cols="30" rows="10"></textarea>
            </div>
            <button type="submit">Enviar Mensagem</button>
          </form>


        </div>
        <div class="img">
          <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://maps.google.com/maps?q=Rua%20Regente%20Feijo%20220%20&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near"
            title="Rua Regente Feijo 220 " aria-label="Rua Regente Feijo 220 " data-origwidth="" data-origheight=""
            style="width: 100%; height: 100%;"></iframe>
        </div>



      </div>
    </div>


    <div class="sub-title">
      <h2>NOSSOS ENDEREÇOS
      </h2>
    </div>

    <div class="container-grid">
      <div class="item-grid">
        <div class="icon"> <span class="material-symbols-outlined">
            other_houses
          </span></div>
        <h3>Indaiatuba-SP</h3>
        <p>Rua Regente Feijo 220 Cidade Nova </p>
        <p>Indaiatuba -SP CEP 13.334-090</p>
      </div>
      <div class="item-grid">
        <div class="icon"> <span class="material-symbols-outlined">
          mail
          </span></div>
      <h3>Email</h3>
      <p>comercial.idt@zoerh.com.br</p>
      </div>
      <div class="item-grid">
        <div class="icon"> <span class="material-symbols-outlined">
          forum
          </span></div>
      <h3>Telefone</h3>
      <p>(019) 3312-2830</p>
      </div>


      <div class="item-grid">
        <div class="icon"> <span class="material-symbols-outlined">
            other_houses
          </span></div>
        <h3>Itupeva-SP</h3>
        <p>Endereço: Rua Antonio Poli, 174</p>
        <p>Centro - Itupeva - SP</p>
      </div>
      <div class="item-grid">
        <div class="icon"> <span class="material-symbols-outlined">
          mail
          </span></div>
      <h3>Email</h3>
      <p>contato@zoerh.com.br </p>
      </div>
      <div class="item-grid">
        <div class="icon"> <span class="material-symbols-outlined">
          forum
          </span></div>
      <h3>Telefone</h3>
      <p>(011) 4591-3614</p>
      </div>

      <div class="item-grid">
        <div class="icon"> <span class="material-symbols-outlined">
            other_houses
          </span></div>
        <h3>Itu-SP</h3>
        <p>Rua Dr. Jose de Paula Leite de Barros, 77 </p>
        <p>Centro - CEP: 13.300-035</p>
      </div>
      <div class="item-grid">
        <div class="icon"> <span class="material-symbols-outlined">
          mail
          </span></div>
      <h3>Email</h3>
      <p>marcos@conceitozoerh.com.br</p>
      </div>
      <div class="item-grid">
        <div class="icon"> <span class="material-symbols-outlined">
          forum
          </span></div>
      <h3>Telefone</h3>
      <p>(011) 2429-9761 / (11) 94203-9994</p>
      </div>


      <div class="item-grid">
        <div class="icon"> <span class="material-symbols-outlined">
            other_houses
          </span></div>
        <h3>Valinhos-SP</h3>
        <p>Av Onze de Agosto, 164 </p>
        <p>Vila Clayton - CEP: 13276-130</p>
      </div>
      <div class="item-grid">
        <div class="icon"> <span class="material-symbols-outlined">
          mail
          </span></div>
      <h3>Email</h3>
      <p>contato@zoerh.com.br</p>
      </div>
      <div class="item-grid">
        <div class="icon"> <span class="material-symbols-outlined">
          forum
          </span></div>
      <h3>Telefone</h3>
      <p>(019) 3244-5654</p>
      </div>
    </div>
  </div>
</section>
