<section class="container-all">
  <div class="conteinerimg">

    <div class="title-content">
      <h1>Quem Somos</h1>
      <p>Fundamentada na ética e no amor pelo que faz!</p>
    </div>
  </div>
  <div class="overlay"></div>

  <div class="items-content">
    <div class="margin">
      <div class="item-container">
        <div class="info">
          <div class="title">
            <h1>A NOSSA EMPRESA</h1>
          </div>
          <div class="text">
            <p>Fundamentada sobre a ética e o amor no que faz, a Zoe Rh realiza com excelência o que foi criada para
              fazer,
              alianças!</p>
            <p>Com a longa experiência de quase 25 anos atuando em RH, nossa missão, visão e valores estão focadas em
              fazer
              as melhores contratações e construir sólidas parcerias fazendo da nossa empresa uma continuidade da sua o
              que
              possibilita sermos ainda mais assertivos.</p>
            <p>Ser Zoe é ser Vida, é estar em continuo crescimento e evolução!</p>
          </div>


        </div>
        <div class="img">
          <img src="./assets/imagem-quem-somos-768x560.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="sub-title">
      <h1>Nossos Serviços</h1>
    </div>

    <div class="margin">
      <div class="item-container reverse">

        <div class="img">
          <img src="./assets/mulher-caixa-768x560.jpg" alt="">
        </div>
        <div class="info">
          <div class="title">
            <h1>TEMPORÁRIO</h1>
          </div>
          <div class="text">
            <p>A mão de obra temporária é ideal para quem deseja reduzir custos, agilizar procedimentos com admissão e
              ainda poupar sua equipe interna de administrar funcionários.</p>
            <p>Uma solução rápida para atender uma demanda complementar de serviços, substituição de pessoal, cobertura
              de
              férias, licença maternidade e afastamento por doença ou acidente. Com prazo de contrato de até 180 dias,
              prorrogáveis por mais 90 dias, consecutivos ou não, podendo chegar então a 270 dias, conforme (Lei
              6.19/74,
              artigo 2º).</p>
            <button routerLink="/contato">ENTRAR EM CONTATO</button>
          </div>


        </div>
      </div>
    </div>


    <div class="margin">
      <div class="item-container">
        <div class="info">
          <div class="title">
            <h1>RECRUTAMENTO E SELEÇÃO</h1>
          </div>
          <div class="text">
            <p>Com uma equipe altamente qualificada, fazemos todo o processo seletivo de sua vaga, com técnicas e avaliações por meio de entrevistas especializadas, alinhados a cultura organizacional de sua empresa, e assim atingindo maior assertividade na contratação.</p>

            <button routerLink="/contato">ENTRAR EM CONTATO</button>
          </div>


        </div>
        <div class="img">
          <img src="./assets/selecao-768x560.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="margin">
      <div class="item-container reverse">

        <div class="img">
          <img src="./assets/banner3-768x454.jpg" alt="">
        </div>
        <div class="info">
          <div class="title">
            <h1>AVALIAÇÃO PSICOLÓGICA </h1>
          </div>
          <div class="text">
            <p>Por meio de testes e avaliações psicológicas é possível identificar determinadas características dos candidatos, assim como mensurar fatores indispensáveis para determinadas funções, tais como traços de personalidade, agilidade e concentração.</p>

            <button routerLink="/contato">ENTRAR EM CONTATO</button>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
