<section class="container-all">
  <div class="conteinerimg">

    <div class="title-content">
      <h1>Avaliação Psicológica</h1>
      <p>Serviços com qualidade e excelência por meio de um trabalho ágil e eficiente.</p>
    </div>
  </div>
  <div class="overlay"></div>

  <div class="items-content">
    <div class="margin">
      <div class="item-container">
        <div class="img">
          <img src="./assets/avaliacao-psicologica-768x503.jpg" alt="">
        </div>
        <div class="info">
          <div class="title">
            <h1>AVALIAÇÃO PSICOLÓGICA</h1>
          </div>
          <div class="text">
            <p>Por meio de testes e avaliações psicológicas, é possível identificar determinadas características dos candidatos, assim como mensurar fatores indispensáveis para determinadas funções, tais como traços de personalidade, agilidade e concentração.</p>

            <button routerLink="/contato">ENTRAR EM CONTATO</button>
          </div>


        </div>

      </div>
    </div>



  </div>
</section>
