<section class="container-all">
  <div class="conteinerimg">

    <div class="title-content">
      <h1>Recrutamento e Seleção</h1>
      <p>Maior assertividade na contratação.</p>
    </div>
  </div>
  <div class="overlay"></div>

  <div class="items-content">
    <div class="margin">
      <div class="item-container">
        <div class="info">
          <div class="title">
            <h1>RECRUTAMENTO E SELEÇÃO</h1>
          </div>
          <div class="text">
            <p>Com uma equipe altamente qualificada, fazemos todo o processo seletivo de sua vaga, com técnicas e avaliações por meio de entrevistas especializadas  alinhados a cultura organizacional de sua empresa, e assim atingindo maior assertividade na contratação.</p>

            <button routerLink="/contato">ENTRAR EM CONTATO</button>
          </div>


        </div>
        <div class="img">
          <img src="./assets/selecao-768x560.jpg" alt="">
        </div>
      </div>
    </div>



  </div>
</section>
