<section class="container-all">
  <div class="conteinerimg">

    <div class="title-content">
      <h1>Mão de Obra Temporária</h1>
      <p>Redução de Custos e otimização do seu tempo para sua empresa.</p>
    </div>
  </div>
  <div class="overlay"></div>

  <div class="items-content">
    <div class="margin">
      <div class="item-container">
        <div class="img">
          <img src="./assets/mao-obra-temporaria-768x512.jpg" alt="">
        </div>
        <div class="info">
          <div class="title">
            <h1>TEMPORÁRIO</h1>
          </div>
          <div class="text">
            <p>A mão de obra temporária é ideal para quem deseja reduzir custos, agilizar procedimentos com admissao e
              ainda poupar sua equipe interna de administrar funcionários.</p>
            <p>Uma solução rápida para atender uma demanda complementar de serviços, substituição de pessoal, cobertura
              de férias, licença maternidade e afastamento por doença ou acidente. Com prazo de contrato de até 180
              dias, prorrogáveis por mais 90 dias, consecutivos ou não, podendo chegar então a 270 dias, conforme (Lei
              6.19/74, artigo 2º).</p>
            <button routerLink="/contato">ENTRAR EM CONTATO</button>
          </div>


        </div>

      </div>
    </div>



  </div>
</section>
