<div class="blog-cover">
  <div class="title">
    <h2>Blog</h2>
  </div>

</div>

<div class="container-blog">

  <div class="title-content">
    <p>Dicas</p>
    <h2>Dicas de entrevista online</h2>
  </div>

</div>

<div class="container-content">
  <div class="post">
    <div class="img">
      <img src="./assets/blog-1.jpg" alt="">
    </div>

    <p>Em primeiro lugar precisamos ter a consciência de que mesmo sendo uma entrevista virtual, se trata de um ambiente
      corporativo, e alguns cuidados precisam ser levados em consideração para que você se sai bem no processo seletivo.
    </p>
    <p>1 – Certifique-se quanto a qualidade do sinal da sua internet, acesse a sala virtual com alguns minutos de
      antecedência, faça o teste da câmera e microfone para que você não tenha surpresas no momento da entrevista. Se
      ainda não sabe como funciona esses canais de reunião on line, se informe, pois esses canais estarão cada vez mais
      presentes neste momento em que estamos vivendo.

    </p>
    <p>2- Cuidado com sua autoimagem</p>
    <p>Use roupas mais formais, evite bonés e procure não se apresentar com identificações da empresa que você está,
      caso esteja empregado ainda.

    </p>
    <p>3- Faça a lição de casa

    </p>
    <p>Busque o máximo de informações sobre a empresa que você está pleiteando uma vaga, isso fará com que você se
      destaque na hora da entrevista.

    </p>
    <p>4- Seja profissional

    </p>
    <p>Mesmo que você tenha ganhado a empatia do avaliador final, lembre-se, se você foi contato e encaminhado por
      alguma consultoria, não pule as etapas, mantenha seu contato com o consultor e não com a empresa, pois isso
      demostra que você é profissional!

    </p>
  </div>
  <div class="relation">
    <div class="title">
      <h2>Zoe RH - Soluções em Recursos Humanos</h2>
      <p>Nosso comprometimento com o cliente é realizar seus serviços com qualidade e excelência por meio de um trabalho
        ágil e eficiente.</p>
    </div>
    <div class="social">
      <div class="facebook icon">
        <a href="https://www.facebook.com/zoerh.recrutamento.3/" target="_blank"><img src="./assets/facebook.png"
            alt=""></a>
      </div>
      <div class="instagram icon">
        <a href="https://www.instagram.com/zoerh_/" target="_blank"><img src="./assets/instagram.png" alt=""></a>

      </div>
      <div class="linkedin icon">
        <a href="https://www.linkedin.com/in/zoe-solu%C3%A7%C3%B5es-em-rh-856141188/" target="_blank"><img
            src="./assets/linked.png" alt=""></a>
      </div>
      <div class="youtube icon">
        <a href="https://www.youtube.com/@GrupoZoe-tu2ew" target="_blank"><img src="./assets/youtube.png" alt=""></a>

      </div>
    </div>

    <div class="last-post">
      <div class="title-last-post">
        <h2>Últimos Posts</h2>
      </div>
      <div class="posts-relations">
        <div class="post-item">
          <div class="post-img">
            <img src="./assets/carteira-trabalho-digital-768x560.jpg" alt="">
          </div>
          <div class="text">
            <h1>Carteira de Trabalho Digital o que é?</h1>
            <a routerLink="/carteira-de-trabalho">Ler mais...</a>
          </div>
        </div>
        <div class="post-item">
          <div class="post-img">
            <img src="./assets/blog1.jpg" alt="">
          </div>
          <div class="text">
            <h1>Dicas de entrevista online</h1>
            <a routerLink="/dicas">Ler mais...</a>
          </div>
        </div>
        <div class="post-item">
          <div class="post-img">
            <img src="./assets/trabalho-casa-768x503.jpg" alt="">
          </div>
          <div class="text">
            <h1>Novo normal X Autogerenciamento</h1>
            <a routerLink="/autogerenciamento">Ler mais...</a>
          </div>
        </div>
        <div class="post-item">
          <div class="post-img">
            <img src="./assets/faqimage1.jpg" alt="">
          </div>
          <div class="text">
            <h1>Dicas de entrevista</h1>
            <a routerLink="/entrevistas">Ler mais...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
