<div class="blog-cover">
  <div class="title">
    <h2>Blog</h2>
  </div>

</div>

<div class="container-blog">

  <div class="title-content">
    <p>DICAS, NOTÍCIAS</p>
    <h2>Novo normal X Autogerenciamento

    </h2>
  </div>

</div>

<div class="container-content">
  <div class="post">
    <div class="img">
      <img src="./assets/trabalho-casa-768x503.jpg" alt="">
    </div>

    <p>Com o surgimento do Covid 19 muitas coisas mudaram, e entre elas a forma de trabalho convencional, onde toda equipe cumpria de forma conjunta, sua carga horaria de trabalho in company. Porém com a pandemia e de uma forma incerta e inesperada mudanças tiveram que ser realizadas para o controle do contagio dessa nova e mortal doença, aqueles que mantiveram seus vínculos de trabalho, tiveram suas rotinas alteradas de forma substancial e significativa: o trabalho remoto que já vinha apresentando crescimento, foi adotado rapidamente, sem o preparo e nem os recursos minimamente necessários para a sua prática, empresas tiveram que adaptar completamente seus procedimentos de trabalho, e a internet de uma forma ainda mais presente passou a unir  pessoas e métodos, para que o mercado de trabalho continuasse a girar, mesmo que agora numa velocidade diferente.

    </p>
    <p>Com isso as empresas precisaram empregar uma confiabilidade ainda maior em seus funcionários, pois esses passariam agora a trabalhar de suas casas, sem uma gestão presente ou auto controle direto sobre as atividades executadas, desenvolvendo em seus trabalhadores, uma cultura de autogerenciamento, onde o trabalhador mesmo estando remoto, precisa desenvolver as mesmas tarefas, sem que caia o grau de qualidade de desempenho.</p>

  </div>
  <div class="relation">
    <div class="title">
      <h2>Zoe RH - Soluções em Recursos Humanos</h2>
      <p>Nosso comprometimento com o cliente é realizar seus serviços com qualidade e excelência por meio de um trabalho
        ágil e eficiente.</p>
    </div>
    <div class="social">
      <div class="facebook icon">
        <a href="https://www.facebook.com/zoerh.recrutamento.3/" target="_blank"><img src="./assets/facebook.png"
            alt=""></a>
      </div>
      <div class="instagram icon">
        <a href="https://www.instagram.com/zoerh_/" target="_blank"><img src="./assets/instagram.png" alt=""></a>

      </div>
      <div class="linkedin icon">
        <a href="https://www.linkedin.com/in/zoe-solu%C3%A7%C3%B5es-em-rh-856141188/" target="_blank"><img
            src="./assets/linked.png" alt=""></a>
      </div>
      <div class="youtube icon">
        <a href="https://www.youtube.com/@GrupoZoe-tu2ew" target="_blank"><img src="./assets/youtube.png" alt=""></a>

      </div>
    </div>

    <div class="last-post">
      <div class="title-last-post">
        <h2>Últimos Posts</h2>
      </div>
      <div class="posts-relations">
        <div class="post-item">
          <div class="post-img">
            <img src="./assets/carteira-trabalho-digital-768x560.jpg" alt="">
          </div>
          <div class="text">
            <h1>Carteira de Trabalho Digital o que é?</h1>
            <a routerLink="/carteira-de-trabalho">Ler mais...</a>
          </div>
        </div>
        <div class="post-item">
          <div class="post-img">
            <img src="./assets/blog1.jpg" alt="">
          </div>
          <div class="text">
            <h1>Dicas de entrevista online</h1>
            <a routerLink="/dicas">Ler mais...</a>
          </div>
        </div>
        <div class="post-item">
          <div class="post-img">
            <img src="./assets/trabalho-casa-768x503.jpg" alt="">
          </div>
          <div class="text">
            <h1>Novo normal X Autogerenciamento</h1>
            <a routerLink="/autogerenciamento">Ler mais...</a>
          </div>
        </div>
        <div class="post-item">
          <div class="post-img">
            <img src="./assets/faqimage1.jpg" alt="">
          </div>
          <div class="text">
            <h1>Dicas de entrevista</h1>
            <a routerLink="/entrevistas">Ler mais...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



